.body {
    background: #131314;
}
.signin{
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}
.many{
    box-shadow: blue 0px 0px 0px 2px inset, rgb(156, 146, 146) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(99, 90, 90) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(78, 66, 66) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(63, 54, 54) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
.one{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.watching-icon {
    display: flex;
    gap: 3px;
    align-items: end;
    height: 20px;
  }
  
  .watching-icon span {
    width: 4px;
    animation: bounce 0.8s infinite ease-in-out;
  }
  
  .watching-icon span:nth-child(1) {
    height: 10px;
    animation-delay: 0s;
  }
  .watching-icon span:nth-child(2) {
    height: 16px;
    animation-delay: 0.2s;
  }
  .watching-icon span:nth-child(3) {
    height: 8px;
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 100% { transform: scaleY(1); }
    50% { transform: scaleY(1.6); }
  }

  .login-color{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  }
  .btn-login{
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  }
  .plan-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .color-title{
    background: linear-gradient(128.49deg, rgb(203, 60, 255) 19.86%, rgb(127, 37, 251) 68.34%);
  }
  .color-admin{
    background-image: url(https://themewagon.github.io/dashtreme/assets/images/bg-themes/1.png);
  }
  .shadow-plan{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  /* slider */
  .card-container {
    display: flex;
    flex: 1;
    max-width: 1440px;
    padding: 0 3rem;
    margin: 0 auto;
    overflow: auto;
    align-items: flex-start;
    justify-content: center;
  }
  
  .card {
    flex: 1 1 1%;
    position: relative;
    opacity: 0.2;
    transition: flex 600ms cubic-bezier(0.25, 1, 0.5, 1), opacity 250ms ease;
  }
  
  .card:hover {
    flex-basis: 30%;
    opacity: 1;
  }
  
  .card.is-active {
    opacity: 1;
  }
  
  .card__inner {
    margin: 0.25rem;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .card picture {
    width: 100%;
    height: 0;
    padding-bottom: 600px;
    overflow: hidden;
    position: relative;
  }
  
  .card picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /* Optional: Adjust margin-top for staggered look */
  .card:nth-child(2),
  .card:nth-child(5),
  .card:nth-child(9) {
    margin-top: 0;
  }
  
  .card:nth-child(2),
  .card:nth-child(4),
  .card:nth-child(6),
  .card:nth-child(8),
  .card:nth-child(10) {
    margin-top: 2.5%;
  }
  
  .card:nth-child(3),
  .card:nth-child(7) {
    margin-top: 5%;
  }

  /* phim bo */

svg{
    width: 25px;
}

/* css slider */
.slider{
    height: 90vh;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 70vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 20%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
  color: #fff;
    position: absolute;
    top: 70%;
    right: 50px;
    z-index: 100;
    display: flex;
    gap:3px;
}
.arrows button{
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    transition: .5s;
}
.arrows button:hover{
    background-color: black;
    color: #fff;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    filter: brightness(.5);
    transition: .5s;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}



  /* banner phim bo */
  