.body {
    background: #131314;
}
.signin{
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}
.many{
    box-shadow: blue 0px 0px 0px 2px inset, rgb(156, 146, 146) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(99, 90, 90) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(78, 66, 66) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(63, 54, 54) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
.one{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.watching-icon {
    display: flex;
    gap: 3px;
    align-items: end;
    height: 20px;
  }
  
  .watching-icon span {
    width: 4px;
    background: white;
    animation: bounce 0.8s infinite ease-in-out;
  }
  
  .watching-icon span:nth-child(1) {
    height: 10px;
    animation-delay: 0s;
  }
  .watching-icon span:nth-child(2) {
    height: 16px;
    animation-delay: 0.2s;
  }
  .watching-icon span:nth-child(3) {
    height: 8px;
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 100% { transform: scaleY(1); }
    50% { transform: scaleY(1.6); }
  }

  .login-color{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  }
  .btn-login{
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  }
  .plan-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }