@import "tailwindcss";

@layer utilities {
  @keyframes slideFade {
    from {
      opacity: 0;
      transform: translateY(100px);
      filter: blur(33px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  .animate-slideFade {
    animation: slideFade 1s ease-in-out forwards;
  }

  .delay-100 {
    animation-delay: 0.1s;
  }

  .delay-300 {
    animation-delay: 0.3s;
  }

  .delay-500 {
    animation-delay: 0.5s;
  }
}
